# Build Folders
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.tmp
*.userprefs
*.csproj.user
*.log

# MonoGame Pipeline files
Content/bin/
Content/obj/

# Output Files
*.xnb

# Mac specific
.DS_Store

# Windows specific
Thumbs.db
desktop.ini

# Rider IDE
.idea/
*.sln.iml

# Visual Studio
.vscode/
.vs/
*.sln.docstates

# Private data dictionaries (kid's names, street names, etc.)
data/private_dictionary.csv